.btn {
  display: inline-block;
  overflow: hidden;
  margin: 0;
  padding: 0 8px;
  line-height: 2.2rem;
  border: $btn-border;
  color: $btn-text-color;
  text-align: center;
  text-decoration: none;

  background-color: $btn-background-color;

  &:active {
    background-color: $btn-background-color-selected;
  }

  &.toggle {
    background-color: $toggle-background-color;

    &:active,
    &.active {
      color: $btn-text-color;
      background-color: $toggle-background-color-selected;
    }
  }

  > i.icon, i.tile {
    top: 3px;
  }
}

.btns {
  display: inline-block;
  margin: 5px 0 10px 0;

  &.horizontal .btn,
  &.justified .btn {
    float: left;

    &:not(:last-child) {
      border-right-width: 0;
    }
  }

  &.justified {
    display: inline-flex;
    flex-direction: row;

    .btn {
      flex: 1;
    }
  }

  &.vertical .btn {
    display: block;

    &:not(:last-child) {
      border-bottom-width: 0;
    }
  }
}
