@mixin iconize(
  $dest-width,
  $dest-height,
  $src,
  $src-width,
  $src-height,
  $src-columns,
  $src-x: 0,
  $src-y: 0,
  $src-space-x: 0,
  $src-space-y: 0,
  $classes: ()) {
  position: relative;
  display: inline-block;
  height: $dest-height;
  width: $dest-width;

  background-image: url($src);
  background-repeat: no-repeat;
  background-size: $src-width $src-height;

  @each $class in $classes {
    $i: index($classes, $class) - 1;

    $row: floor($i / $src-columns);
    $col: $i % $src-columns;

    &.#{$class} {
      $x: $src-x + $col * ($dest-width + $src-space-x);
      $y: $src-y + $row * ($dest-height + $src-space-y);
      background-position: -#{$x} -#{$y};
    }
  }
}

.icon {
  @include iconize(
    $icon-dest-width, $icon-dest-height,
    $icon-src, $icon-src-width, $icon-src-height,
    $icon-src-columns, $icon-src-x, $icon-src-y,
    $icon-src-space-x, $icon-src-space-y,
    $icon-classes);

  @include hdpi() {
    background-image: url($icon-src-hdpi);
  }
}

.tile {
  @include iconize(
    $tile-dest-width, $tile-dest-height,
    $tile-src, $tile-src-width, $tile-src-height,
    $tile-src-columns, $classes: $tile-classes);
}
