$panel-bg: #424242;
$panel-bg2: #535353;

.panel {
  display: flex;
  padding: 1px;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: flex-start;
  background-color: $panel-bg;

  .panel-title,
  .panel-body {
    background-color: $panel-bg2;
  }

  .panel-header {
    flex: 0;
  }

  .panel-body {
    flex: 1;
    overflow: hidden;
  }

  h3.panel-title {
    display: inline-block;
    margin: 0;
    padding: 0 6px;
    font-size: 1.3rem;
    line-height: 24px;
    border-bottom: none;
  }
}
