/* GENERAL */
$text-color: #f0f0f0;

/* BUTTONS */
$btn-text-color: #f0f0f0;
$btn-background-color: #454545;
$btn-background-color-selected: #383838;
$btn-border-width: 1px;
$btn-border-color: #636363;
$btn-border: $btn-border-width $btn-border-color solid;

/* TOGGLE BUTTONS */
$toggle-background-color: #454545;
$toggle-background-color-selected: #383838;

/* PICKER */
$picker-row-height: 24px;
$picker-variants: (
  (one, 1), (two, 2), (three, 3),
  (four, 4), (five, 5), (six, 6)
);

/* UI ICONS */
$icon-src: '../images/icons.png';
$icon-src-hdpi: '../images/icons@2x.png';
$icon-src-width: 85px;
$icon-src-height: 127px;
$icon-src-columns: 4;
$icon-src-x: 3px;
$icon-src-y: 3px;
$icon-src-space-x: 5px;
$icon-src-space-y: 5px;

$icon-dest-width: 16px;
$icon-dest-height: 16px;

$icon-classes: (
  folder, file, new, check,
  plane, cube, circle, monkey,
  cursor, hand, picker, pencil,
  brush, reset-zoom, zoom-in, zoom-out,
  axes, grid, font, flood-fill,
  rotate
);

/* TILE ICONS */
$tile-src: '../images/tiles.png';
$tile-src-width: 64px;
$tile-src-height: 64px;
$tile-src-columns: 4;

$tile-dest-width: 16px;
$tile-dest-height: 16px;

$tile-classes: (
  earth-a, earth-b, ground-a, ground-b,
  grass-a, grass-b, grass-c, grass-d,
  sand-a, sand-b, sand-c, rock-a,
  rock-b, rock-c, concrete-a, concrete-b);

/* GENERAL */
$background-color: #282828;

/* TOOLBAR */
$toolbar-width: 250px;
$toolbar-background-color: #535353;
