/* BUTTONS */
$btn-text-color: #000;
$btn-text-color-selected: #fff;
$btn-background-color: #999999;
$btn-background-color-selected: #646464;
$btn-border-width: 1px;
$btn-border-color: #191919;
$btn-border: $btn-border-width $btn-border-color solid;
$btn-border-radius: 4px !default;
