/* BUTTONS */
$btn-text-color: #000;
$btn-text-color-selected: #fff;
$btn-background-color: #999999;
$btn-background-color-selected: #646464;
$btn-border-width: 1px;
$btn-border-color: #191919;
$btn-border: $btn-border-width $btn-border-color solid;
$btn-border-radius: 4px !default;

/* TOGGLE BUTTONS */
$toggle-background-color: #464646;
$toggle-background-color-selected: #5680C2;

/* ICONS */
$icon-size: 16px;
$icon-image: url(../images/icons.png);
$icon-image-hdpi: url(../images/icons@2x.png);
$icon-image-width: 85px;
$icon-image-height: 106px;
$icon-offset: 3px;
$icon-margin: 5px;
$icons: (
  folder, file, new, check,
  plane, cube, circle, monkey,
  cursor, hand, eraser, pencil,
  brush, reset-zoom, zoom-in, zoom-out,
  axes, grid, font
);

/* GENERAL */
$background-color: #393939;

/* TOOLBAR */
$toolbar-width: 200px;
$toolbar-background-color: #727272;
