@import 'variables';
@import 'mixins';
@import 'utility';
@import 'typography';
@import 'icons';
@import 'buttons';
@import 'panels';
@import 'picker';
@import 'browser';

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body,
html {
  overflow: hidden;
  margin: 0;
}

body {
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  background-color: $background-color;
}

#app {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  @extend %noselect;
}

.app-vertical,
.app-horizontal {
  display: flex;
  flex-wrap: nowrap;
}

.app-vertical,
.app-horizontal,
.app-top,
.app-bottom,
.app-left,
.app-right {
  overflow: hidden;
}

.app-vertical {
  flex-direction: column;
}

.app-horizontal {
  flex-direction: row;
}

.app-light {
  flex: 0;
}

.app-heavy {
  flex: 1;
}

#toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  min-height: $toolbar-height;
  background-color: $panel-light;

  .toolbar-group {
    flex: 1;

    &-left {
      text-align: left;
      margin-left: 4px;
    }
    &-center {
      text-align: center;
    }
    &-right {
      text-align: right;
      margin-right: 4px;
    }

    .btns {
      display: inline-block;
      margin: 0;
    }
  }
}

#content {
  overflow: hidden;
}

#editor {
}

#inspector {
  min-width: $inspector-width;
  //border-left: $panel-border;
}

#browser {
  min-height: $browser-height;
}

#statusbar {
  min-height: $statusbar-height;
  background-color: $panel-light;
}
