/* GENERAL */
/* BUTTONS */
/* TOGGLE BUTTONS */
/* PICKER */
/* UI ICONS */
/* TILE ICONS */
/* GENERAL */
/* PANELS */
/* TOOLBAR */
/* CONTENT */
/* INSPECTOR */
/* BROWSER */
/* STATUSBAR */
.to-left {
  float: left; }

.to-right {
  float: right; }

.fw {
  width: 100%; }

#app {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(../fonts/OpenSans.ttf); }

html {
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', 'Comic Sans MS';
  font-size: 1.4rem;
  line-height: 1.5rem;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }

h1 {
  font-size: 4.0rem;
  line-height: 1.2em; }

h2 {
  font-size: 3.6rem;
  line-height: 1.25em; }

h3 {
  font-size: 3.0rem;
  line-height: 1.3em; }

h4 {
  font-size: 2.4rem;
  line-height: 1.35em; }

h5 {
  font-size: 1.8rem;
  line-height: 1.5em; }

h6 {
  font-size: 1.5rem;
  line-height: 1.6em; }

.icon {
  position: relative;
  display: inline-block;
  height: 16px;
  width: 16px;
  background-image: url("../images/icons.png");
  background-repeat: no-repeat;
  background-size: 85px 127px; }
  .icon.folder {
    background-position: -3px -3px; }
  .icon.file {
    background-position: -24px -3px; }
  .icon.new {
    background-position: -45px -3px; }
  .icon.check {
    background-position: -66px -3px; }
  .icon.plane {
    background-position: -3px -24px; }
  .icon.cube {
    background-position: -24px -24px; }
  .icon.circle {
    background-position: -45px -24px; }
  .icon.monkey {
    background-position: -66px -24px; }
  .icon.cursor {
    background-position: -3px -45px; }
  .icon.hand {
    background-position: -24px -45px; }
  .icon.picker {
    background-position: -45px -45px; }
  .icon.pencil {
    background-position: -66px -45px; }
  .icon.brush {
    background-position: -3px -66px; }
  .icon.reset-zoom {
    background-position: -24px -66px; }
  .icon.zoom-in {
    background-position: -45px -66px; }
  .icon.zoom-out {
    background-position: -66px -66px; }
  .icon.axes {
    background-position: -3px -87px; }
  .icon.grid {
    background-position: -24px -87px; }
  .icon.font {
    background-position: -45px -87px; }
  .icon.flood-fill {
    background-position: -66px -87px; }
  .icon.rotate {
    background-position: -3px -108px; }
  @media (min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icon {
      background-image: url("../images/icons@2x.png"); } }

.tile {
  position: relative;
  display: inline-block;
  height: 32px;
  width: 32px;
  background-image: url("../images/tiles.png");
  background-repeat: no-repeat;
  background-size: 128px 128px; }
  .tile.water {
    background-position: 0px -0px; }
  .tile.dirt-1 {
    background-position: -32px -0px; }
  .tile.dirt-2 {
    background-position: -64px -0px; }
  .tile.dirt-3 {
    background-position: -96px -0px; }
  .tile.grass-1 {
    background-position: 0px -32px; }
  .tile.grass-2 {
    background-position: -32px -32px; }
  .tile.grass-3 {
    background-position: -64px -32px; }
  .tile.grass-4 {
    background-position: -96px -32px; }
  .tile.sand-1 {
    background-position: 0px -64px; }
  .tile.sand-2 {
    background-position: -32px -64px; }
  .tile.sand-3 {
    background-position: -64px -64px; }
  .tile.sand-4 {
    background-position: -96px -64px; }
  .tile.rock-1 {
    background-position: 0px -96px; }
  .tile.rock-2 {
    background-position: -32px -96px; }
  .tile.rock-3 {
    background-position: -64px -96px; }
  .tile.rock-4 {
    background-position: -96px -96px; }

.btn {
  display: inline-block;
  overflow: hidden;
  margin: 0;
  padding: 0 8px;
  line-height: 2.2rem;
  border: 1px #636363 solid;
  color: #f0f0f0;
  text-align: center;
  text-decoration: none;
  background-color: #454545; }
  .btn:active {
    background-color: #383838; }
  .btn.toggle {
    background-color: #454545; }
    .btn.toggle:active, .btn.toggle.active {
      color: #f0f0f0;
      background-color: #383838; }
  .btn > i.icon, .btn i.tile {
    top: 3px; }

.btns {
  display: inline-block;
  margin: 5px 0 10px 0; }
  .btns.horizontal .btn,
  .btns.justified .btn {
    float: left; }
    .btns.horizontal .btn:not(:last-child),
    .btns.justified .btn:not(:last-child) {
      border-right-width: 0; }
  .btns.justified {
    display: inline-flex;
    flex-direction: row; }
    .btns.justified .btn {
      flex: 1; }
  .btns.vertical .btn {
    display: block; }
    .btns.vertical .btn:not(:last-child) {
      border-bottom-width: 0; }

.panel {
  display: flex;
  padding: 1px;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: flex-start;
  background-color: #424242; }
  .panel .panel-title,
  .panel .panel-body {
    background-color: #535353; }
  .panel .panel-header {
    flex: 0; }
  .panel .panel-body {
    flex: 1;
    overflow: hidden; }
  .panel h3.panel-title {
    display: inline-block;
    margin: 0;
    padding: 0 6px;
    font-size: 1.3rem;
    line-height: 24px;
    border-bottom: none; }

div.picker {
  display: inline-block;
  margin: 5px 0 10px 0;
  border: 1px #636363 solid;
  overflow: hidden;
  background-color: #454545; }
  div.picker.one {
    overflow-y: scroll;
    min-height: 24px;
    max-height: 24px; }
    div.picker.one li:nth-child(-n+0):last-child {
      border-bottom-width: 1px; }
  div.picker.two {
    overflow-y: scroll;
    min-height: 48px;
    max-height: 48px; }
    div.picker.two li:nth-child(-n+1):last-child {
      border-bottom-width: 1px; }
  div.picker.three {
    overflow-y: scroll;
    min-height: 72px;
    max-height: 72px; }
    div.picker.three li:nth-child(-n+2):last-child {
      border-bottom-width: 1px; }
  div.picker.four {
    overflow-y: scroll;
    min-height: 96px;
    max-height: 96px; }
    div.picker.four li:nth-child(-n+3):last-child {
      border-bottom-width: 1px; }
  div.picker.five {
    overflow-y: scroll;
    min-height: 120px;
    max-height: 120px; }
    div.picker.five li:nth-child(-n+4):last-child {
      border-bottom-width: 1px; }
  div.picker.six {
    overflow-y: scroll;
    min-height: 144px;
    max-height: 144px; }
    div.picker.six li:nth-child(-n+5):last-child {
      border-bottom-width: 1px; }
  div.picker ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none; }
    div.picker ul li {
      position: relative;
      height: 24px;
      border-bottom: 1px #515151 solid; }
      div.picker ul li:last-child {
        border-bottom-width: 0; }
      div.picker ul li.active {
        background-color: #383838; }
      div.picker ul li a {
        display: block;
        padding: 0 8px;
        font-size: 1.2rem;
        line-height: 24px;
        color: #d7d7d7;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
        div.picker ul li a > i.icon, div.picker ul li a i.tile {
          top: 3px;
          margin-right: 8px; }

.browser {
  overflow-y: scroll;
  height: 100%; }
  .browser ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0; }
    .browser ul li {
      margin: 4px;
      border: 1px #636363 solid;
      border-radius: 3px; }
      .browser ul li.active {
        background-color: #454545; }
      .browser ul li a {
        display: inline-block;
        line-height: 1rem;
        padding: 5px; }

* {
  box-sizing: border-box; }

html,
body,
#app {
  height: 100%; }

body,
html {
  overflow: hidden;
  margin: 0; }

body {
  color: #f0f0f0;
  -webkit-font-smoothing: antialiased;
  background-color: #282828; }

#app {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column; }

.app-vertical,
.app-horizontal {
  display: flex;
  flex-wrap: nowrap; }

.app-vertical,
.app-horizontal,
.app-top,
.app-bottom,
.app-left,
.app-right {
  overflow: hidden; }

.app-vertical {
  flex-direction: column; }

.app-horizontal {
  flex-direction: row; }

.app-light {
  flex: 0; }

.app-heavy {
  flex: 1; }

#toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  min-height: 32px;
  background-color: #535353; }
  #toolbar .toolbar-group {
    flex: 1; }
    #toolbar .toolbar-group-left {
      text-align: left;
      margin-left: 4px; }
    #toolbar .toolbar-group-center {
      text-align: center; }
    #toolbar .toolbar-group-right {
      text-align: right;
      margin-right: 4px; }
    #toolbar .toolbar-group .btns {
      display: inline-block;
      margin: 0; }

#content {
  overflow: hidden; }

#inspector {
  min-width: 224px; }

#browser {
  min-height: 168px; }

#statusbar {
  min-height: 20px;
  background-color: #535353; }

/*# sourceMappingURL=app.css.map */
