/* BUTTONS */
/* TOGGLE BUTTONS */
/* ICONS */
/* GENERAL */
/* TOOLBAR */
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
.to-left {
  float: left; }

.to-right {
  float: right; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 1.6rem; }

.icon {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/icons.png);
  background-repeat: none;
  background-size: 85px 85px; }
  @media (min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icon {
      background-image: url(../images/icons@2x.png); } }
  .icon.folder {
    background-position: -3px -3px; }
  .icon.file {
    background-position: -24px -3px; }
  .icon.new {
    background-position: -45px -3px; }
  .icon.check {
    background-position: -66px -3px; }
  .icon.plane {
    background-position: -3px -24px; }
  .icon.cube {
    background-position: -24px -24px; }
  .icon.circle {
    background-position: -45px -24px; }
  .icon.monkey {
    background-position: -66px -24px; }

.btn {
  display: inline-block;
  overflow: hidden;
  margin: 0;
  padding: 0 8px;
  line-height: 2rem;
  border: 1px #191919 solid;
  border-radius: 4px;
  color: #000;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(#a6a6a6, #8c8c8c); }
  .btn:hover {
    background: linear-gradient(#b3b3b3, #999999); }
  .btn:active {
    color: #fff;
    background: linear-gradient(#575757, #717171); }
  .btn.toggle {
    color: #fff;
    background: linear-gradient(#535353, #393939); }
    .btn.toggle:hover {
      background: linear-gradient(#606060, #464646); }
    .btn.toggle:active, .btn.toggle.active {
      color: #000;
      background: linear-gradient(#4372bb, #698ec9); }

.btns {
  display: inline-block;
  margin: 5px 0; }
  .btns.horizontal .btn,
  .btns.justified .btn {
    float: left; }
    .btns.horizontal .btn:not(:first-child):not(:last-child),
    .btns.justified .btn:not(:first-child):not(:last-child) {
      border-radius: 0; }
    .btns.horizontal .btn:not(:last-child),
    .btns.justified .btn:not(:last-child) {
      border-right-width: 0; }
    .btns.horizontal .btn:first-child,
    .btns.justified .btn:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .btns.horizontal .btn:last-child,
    .btns.justified .btn:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
  .btns.justified {
    display: flex;
    flex-direction: row; }
    .btns.justified .btn {
      flex: 1; }
  .btns.vertical .btn {
    display: block; }
    .btns.vertical .btn:not(:first-child):not(:last-child) {
      border-radius: 0; }
    .btns.vertical .btn:not(:last-child) {
      border-bottom-width: 0; }
    .btns.vertical .btn:first-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
    .btns.vertical .btn:last-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0; }

* {
  box-sizing: border-box; }

html,
body,
#app {
  height: 100%; }

html {
  background-color: #393939; }

body {
  margin: 0;
  padding: 0; }

#toolbar {
  position: absolute;
  overflow: scroll;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 200px;
  padding: 10px;
  background-color: #727272; }

#content {
  position: absolute;
  overflow: hidden;
  left: 200px;
  top: 0;
  right: 0;
  height: 100%; }
